<ion-content class="ion-padding">
    <img [src]="image">
    <ion-button (click)="processImage()">Process</ion-button>
    <ion-button color="danger" (click)="onClear()">Clear</ion-button>
    <mat-progress-bar mode="indeterminate" *ngIf="isProcessing" style="height: 5px;"></mat-progress-bar>

    <mat-card *ngIf="passportInfo">
        <form [formGroup]="form" class="example-form">
            <mat-form-field class="full-width">
                <input matInput placeholder="Passport No" formControlName="passportNo">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Given Name" formControlName="givenName">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Surname" formControlName="surname">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Gender" formControlName="gender">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Passport No" formControlName="nationality">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Nationality" formControlName="dob">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Expiry Date" formControlName="expiryDate">
            </mat-form-field>
        </form>
    </mat-card>
</ion-content>
